@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  --mono1: #383A42;
  --mono2: #696c77;
  --mono3: #a0a1a7;
  --mono4: #c2c2c3;
  --hue1: #0184bc;
  --hue2: #4078f2;
  --hue3: #a626a4;
  --hue4: #50a14f;
  --hue5: #e45649;
  --hue52: #ca1243;
  --hue6: #986801;
  --hue62: #c18401;
  --syntaxBg: #fafafa;
  --syntaxGutter: #9e9e9e;
  --syntaxCursor: #f0f0f0;
  --syntaxAccent: #526fff;
  --vertsplit: #e7e9e1;
  --specialGrey: #d3d3d3;
  --visualGrey: #d0d0d0;
  --pmenu: #dfdfdf;
  --termBlack: #383a42;
  --termBlue: #0184bc;
  --termCyan: #0997b3;
  --termWhite: #fafafa;
  --term8: #4f525e;
  --colorAdded: #2db448;
  --colorModified: #f2a60d;
  --colorRemoved: #ff1414;
}

html.dark {
  --mono1: #abb2bf;
  --mono2: #828997;
  --mono3: #5c6370;
  --mono4: #4b5263;
  --hue1: #56b6c2;
  --hue2: #61afef;
  --hue3: #c678dd;
  --hue4: #98c379;
  --hue5: #e06c75;
  --hue52: #be5046;
  --hue6: #d19a66;
  --hue62: #e5c07b;
  --syntaxBg: #282c34;
  --syntaxGutter: #636d83;
  --syntaxCursor: #2c323c;
  --syntaxAccent: #528bff;
  --vertsplit: #181a1f;
  --specialGrey: #3b4048;
  --visualGrey: #3e4452;
  --pmenu: #333841;
  --termBlack: #282c34;
  --termBlue: #61afef;
  --termCyan: #56b6c2;
  --termWhite: #dcdfe4;
  --term8: #5d677a;
  --colorAdded: #43d08a;
  --colorModified: #e0c285;
  --colorRemoved: #e05252;
}

body {
  background: var(--syntaxBg);
  color: var(--mono1);
}
